---
layout: default
title: Carnet de bord
---

				<!-- Sub menu -->
				<!-- Not sure of syntaxes for this part but it is not necessary for the moment
				<div id="sous_menu">
					<ul class="sous_menu">
						<ul>
						{% for category in site.categories %}
						  <li class="sous_menu"><a href="#{{ category | first }}">{{ category | first }}</a></li>
						{% endfor %}
						</ul>
					</ul>
				</div>
				-->
				<!-- End of sub menu -->

				<!-- Vertical separation between categories and content-->
				<!-- Not usefull for the moment because of there is no categories 
				<div id="vertical">
					<hr class="vertical" />
				</div>
				-->
				<!-- End of vertical separation -->
				
				<!-- Content -->
				<div id="contenu">
					{% for post in site.posts %}
						{% if post.type == "carnet" %}
					<div id="description-{{ post.url }}" class="bloc_description">
						<a href="{{ post.url }}" class="lien_description">
							<div class="bloc_titre">
								<img src="/img/miniature/{{ post.img }}" class="miniature" alt="{{ post.title }}">
								<h1 class="titre">{{ post.title }}</h1>
								<time datetime="{{ post.date | date: '%Y-%m-%d' }}"  class="date">
									Publié le {{ post.date | date: "%d/%m/%Y" }}
								</time>
							</div>
							<p class="description">
								{{ post.abstract }}
							</p>
						</a>
					</div>
						{% endif %}
					{% endfor %}
				</div>
				<!-- End of content -->
