---
layout: default
title: Carnet de bord
---

				<!-- Sub menu -->
				<!-- TODO : Add a sub menu in order to filter by categories
						
						It will be something like this :
						
						{% for category in site.categories %}
						  <li class="sous_menu"><a href="#{{ category | first }}">{{ category | first }}</a></li>
						{% endfor %}
						
						But not sure of the syntaxes for this part but it is not necessary for the moment.
				-->
				<!-- End of sub menu -->

				
				<!-- Content -->
				<div id="contenu">
					<p>
						Quelques prises de notes sur mes lectures du moment.
					</p>
					{% for post in site.posts %}
						{% if post.type == "carnet" %}
					<div id="description-{{ post.url }}" class="bloc_description">
						<a href="{{ post.url }}" class="lien_description">
							<div class="bloc_titre">
							{% if page.img %}
								<img src="/img/miniature/{{ post.img }}" class="miniature" alt="{{ post.title }}">
							{% endif %}
								<h1 class="titre">{{ post.title }}</h1>
								<time datetime="{{ post.date | date: '%Y-%m-%d' }}"  class="date">
									Prise de notes publiée le {{ post.date | date: "%d/%m/%Y" }}
								</time>
							</div>
								{{ post.abstract }}
						</a>
					</div>
						{% endif %}
					{% endfor %}
				</div>
				<!-- End of content -->
