---
layout: default
title: Accueil
---

<!-- Debut du slider -->
<div id="slider">
	<ul id="actus">
		{% for post in site.posts limit:5 %}
			{% if post == site.posts.first %}
		<li id="actu-{{ forloop.index }}" class="actu">
			{% else %}
  		<li id="actu-{{ forloop.index }}" class="actu actu_cache">
  			{% endif %}
  			<a href="{{ post.url }}" class="lien_actu">
  				<img src="/img/moyenne/{{ post.img }}" alt="{{ post.title }}">
  			</a>
			<div class="info">
				<h1 class="titre"><a href="{{ post.url }}">{{ post.title }}</a></h1>
				<p class="description">
					{{ post.abstract }}
				</p>
				<a href="{{ post.url }}" class="lire_suite">[Lire l'article]</a>
			</div>
		</li>
		{% endfor %}
	</ul>
	
	<div id="div_navigateur_actu">
		<ul id="navigateur_actu">
			{% for post in site.posts limit:5 %}
			<li class="vers_actu">
				<button type="button" id="vers-actu-{{ forloop.index }}" data-idActu="{{ forloop.index }}">
					<img src="/img/miniature/{{ post.img }}" alt="{{ post.title }}">
				</button>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
