---
layout: default
title: Accueil
---

<!-- Debut du slider -->


<!--
-----------------------
Make a slider of actuality
-----------------------
<div id="slider">
	<ul id="actus">
		{% for post in site.posts.blog limit:5 %}
			{% if post == site.posts.first %}
		<li id="actu-{{ forloop.index }}" class="actu">
			{% else %}
  		<li id="actu-{{ forloop.index }}" class="actu actu_cache">
  			{% endif %}
  			<a href="{{ post.url }}" class="lien_actu">
  				<img src="/img/moyenne/{{ post.img }}" alt="{{ post.title }}">
  			</a>
			<div class="info">
				<h1 class="titre"><a href="{{ post.url }}">{{ post.title }}</a></h1>
				<p class="description">
					{{ post.abstract }}
				</p>
				<a href="{{ post.url }}" class="lire_suite">[Lire l'article]</a>
			</div>
		</li>
		{% endfor %}
	</ul>
	
	<div id="div_navigateur_actu">
		<ul id="navigateur_actu">
			{% for post in site.posts.blog limit:5 %}
			<li class="vers_actu">
				<button type="button" id="vers-actu-{{ forloop.index }}" data-idActu="{{ forloop.index }}">
					<img src="/img/miniature/{{ post.img }}" alt="{{ post.title }}">
				</button>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
-->

<div id="slider">
	<div id="div_navigateur_actu">
		<ul id="navigateur_actu">
			{% assign i=0 %}
			{% for post in site.posts %}
				{% if post.type == "photos" %}
			<li class="vers_actu">
				<button type="button" id="vers-actu-{{ i }}" data-idActu="{{ i }}">
					<img src="/img/photos/{{ post.img }}" alt="{{ post.title }}" height="100px">
				</button>
			</li>
					{% assign i=i | plus:1  %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<ul id="actus">
	{% assign i=0 %}
		{% for post in site.posts %}
			{% if post.type == "photos" %}
				{% if i == 0 %}
		<li id="actu-{{ i }}" class="actu photos">
				{% else %}
  		<li id="actu-{{ i }}" class="actu actu_cache photos">
  				{% endif %}
  				{% assign i=i | plus:1  %}
                {% if post.type == "none" %}
  				<a href="/img/photos/{{ post.img }}"><img src="/img/photos/{{ post.img }}" alt="{{ post.title }}" height="400px"></a>
  				<span class="source-photo">{{ post.title }}</span>
                {% else %}
                <a href="/img/photos/{{ post.img }}"><img src="/img/photos/{{ post.img }}" alt="{{ post.title }}" height="400px"></a>
  				<span class="source-photo">Vu sur <a href="{{post.sourceURL }}">{{ post.sourceName }}</a></span>
                {% endif %}
  			{% endif %}
		</li>
		{% endfor %}
	</ul>

</div>


