.rubrique_cv {
	font-size : 16px;
	color : #336CBF;
	width : 100%;
	border-bottom : 1px solid #336CBF; 
}

.item_cv {
	font-size : 14px;
	font-weight : normal;
}

.date_cv {
	font-weight : bold;
}

.details_cv {
	font-style : italic;
}
