.bloc_description{
	width : 90%;
	border-top: 1px solid #545454;
	border-bottom: 1px solid #545454;
	border-left : none;
	border-right : none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 10px;
	padding : 10px;
}

.bloc_description:hover{
	border: 1px solid #336CBF; /*bleu */ /* #17CFEC; bleu turquoise */
	box-shadow: 0px 0px 10px black;
}

.bloc_titre {
	width : 100%;
}

.miniature {
	float : left;
	margin: 5px;
}

.titre {
	color : #336CBF; /*bleu */ /* #17CFEC; bleu turquoise => old version*/
	margin : 5px;
	margin-top : 0px;
	font-size : 20px;
}

.lien_description {
	color : #545454;
	display : block;
	outline : none;
	text-decoration : none;
}

.description {
	margin-left : 5px;
	margin-right : 5px;
	text-align : justify;
	text-indent : 20px;
	font-size : 14px;
}

.description:first-letter {
	font-size : 150%;
}

.date {
	margin : 5px;
	text-align : justify;
	font-size : 12px;
}

