body {
	font-size: calc(12px + 0.4vw); /* Taille du texte censé être responsive */
}

#boids {
	flex:1;
	align-self: stretch;
	max-width: 20%;
}

#graph {
	flex:1;
	align-self: stretch;
	max-width: 20%;
}

#global {
	max-width: 60%;
}