body {
	font-size: calc(14px + 0.4vw); /* Taille du texte censé être responsive */
}

/**
  * Partie consacree au menu
  */
/* le menu est centre, tout comme son contenu */
.menu {
	height: 40px;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

.menu-list {
	margin: auto;
	line-height: 40px;
	list-style-type: none;
}

/* La liste correspondant au menu est horyzontale. Chaque item du menu fais 20% de taille. */
.menu-list {
	margin: 0;
	padding: 0;
}

.menu-list li {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 13%;
}

.menu-item {
	transition: background ease .4s;
    transition-property: background;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.menu-item:hover {
	transition: background ease .4s;
    transition-property: background;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    background: #336CBF;
}

.menu-item, .menu-item:link, .menu-item:visited {
	text-decoration: none;
	outline: none;
	color: white;
	display: block;
}

.menu-item:hover, .menu-item:focus, .menu-item:active {
	color: white;
}