/**
  * Style des balises en generale
  */

/* style du body */
body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

/**
  * Partie consacree a la banniere
  */
#banniere {
	background: url(../img/design/deux_engrenages.png) no-repeat #336CBF;
	margin: 0;
	text-align: right;
	height: 110px;
}

.banniere{
	outline: none;
}

/**
  * Partie consacree a l'element central (global)
  */
#flexbox {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

#boids {
	flex:1;
}

#graph {
	flex:1;
}

#global {
	flex:3;
	/* couleurs general du contenu */
	color: #545454;/* gris ecriture grise */
    margin: 30px;
    padding: 0;
    min-height: 100%;
}

/* Design of social icon */
.social_icon{
    background: #b3b3b3;
    border-radius: 5px;
    margin-right: 10px;
    padding: 3px;
}

/**
  * Licence
  */
#licence {
	margin: auto;
	margin-top: 30px;
	text-align: center;
	width: 100%;
	padding: 5px;
	color: #fff;
	padding-bottom: 30px;
	padding-top: 30px;
	background-color: #545454;
	margin-bottom: 0;
}

#licence > a {
	color:white;
}

/**
  * Links
  */

a:link {
	color:#404040;
}

a:visited {
	color:#404040;
}

a:hover {
	color:#336CBF;
}

a:active {
	color:#336CBF;
}

/*
 * CV
 */
.rubrique_cv {
	color: #336CBF;
	width: 100%;
	border-bottom: 1px solid #336CBF; 
}

.item_cv {
	font-weight: normal;
}

.date_cv {
	font-weight: bold;
}

.details_cv {
	font-style: italic;
}

/*
 * Portrait
 */
#portrait {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
}

#portrait img {
	width: auto;
	height: 100%;
}

#short-present {
	margin: auto;
	text-align: center;
	width:40vw;
	min-width: 250px;
}