
/**
  * Partie contenant le sous-menu et le contenu
  */
#sous_menu {
	float : left;
	width : 20%;
	margin-top : 10px;
	line-height : 25px;
}

ul.sous_menu {
	margin : 0;
	border : 0;
	word-wrap: break-word;
}

li.sous_menu {
	list-style: square;/*none;*/
	margin : 0;
	padding : 0;
}

a.sous_menu, a.sous_menu:link, a.sous_menu:visited{
	text-decoration: none;
	display : block;
	color : #5C5D5D;
}

a.sous_menu:hover, a.sous_menu:focus, a.sous_menu:active {
	color :  #336CBF; /*bleu */ /* #17CFEC; bleu turquoise */ /*#B3B3B3;*/
	/*text-shadow: 0px 0px 10px #B3B3B3; //L'effet n'est pas concluant*/
	outline: none;
	list-style-type :square;
}

li.sous_menu:hover {
	color : #336CBF; /*bleu */ /* #17CFEC; bleu turquoise */
	list-style-type :square;
}

p.sous_menu {
	margin : 0px;
	padding : 0px;
	border : 0px;
}

/**
  * Partie consacree au contenu
  */
#contenu {
	float :right;
	width : 100%; /* 77%; when we show the list of categories */
	margin-top : 10px;
}

/**
  * Partie consacree a la barre vertical de separation entre le contenu et la navigation
  */
#vertical {
	margin-left: 20%;
	margin-right: 75%;
	height :100%;
	width : 3%;
}

.vertical {
	border: none;
	border-right:1px solid #545454;
	width : 1px;
	height : 100%;
	position :absolute;
	overflow :hidden;
	/* box-shadow: 0px 0px 5px #17CFEC; */
}
