---
layout: default
---

				<article>
					<!-- debut du titre -->
					<header class="bloc_titre">
						{% if page.img %}
						<img src="/img/miniature/{{ page.img }}" class="miniature" alt="{{ page.title }}">
						{% endif %}
						<h1 class="titre">
							{{ page.title }}
						</h1>
						<time datetime="{{ page.date | date: '%Y-%m-%d' }}"  class="date">
							Prise de notes publiée le {{ page.date | date: "%d/%m/%Y" }}
						</time>
					</header>
					<!-- fin du titre -->

					<!-- fin de la description -->

					<!-- debut du sommaire -->
					<div id="sommaire">
						<!-- generate by a JS script -->
					</div>
					<!-- fin du sommaire -->

					<!-- debut du texte -->
					{{ content }}
					<!-- fin du texte -->

				</article>
